.postBox {
	margin: 15px;
	background-color: #fff;
	padding: 10px;
#	border: 1px black solid;
	box-shadow: 2px 2px 2px #888888;
	border-radius: 5px;
}

.postBody {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}